/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.dm{
    width:100px;
    margin-right: 500px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 4px;
}
.dm:hover {
  background-color: #151414;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid #444;
}

body.dark-mode table {
  background-color: #1e1e1e;
  color: #ddd;
}

body.dark-mode a {
  color: #9ecbff;
}

body.dark-mode .btn {
  background-color: #333;
  color: white;
}
body.dark-mode .profile-container{
    background-color: #00000091;
}
body.dark-mode .form-container{
    background-color: #00000091;
}
body.dark-mode .charts-container{
    background-color: #00000091;
}
body.dark-mode canvas{
    background-color: #00000091;
}